* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #333;
  height: 100vh;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  max-width: min(80%, 400px);
  width: 80%;
  padding: 0.5em;
  background-color: #c4c4c4;
  color: #000;
  display: flex;
  flex-direction: column;
}

.wrapper h3 {
  font-size: 0.8em;
  font-weight: 300;
  color: #666;
}

.screen {
  text-align: right;
}

.previous,
.current {
  min-height: 1.6em;
  padding: 0.2em;
  overflow-wrap: break-word;
}

.previous {
  color: #777;
}

.current {
  font-size: 3em;
  font-weight: 7000;
}

.current .divisionZero {
  font-size: 0.6em;
}

.buttonBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
}

.buttonBox button {
  border: 1px solid transparent;
  border-radius: 0;
  height: 4em;
  font-size: 1.2em;
  background-color: #dbdbdb;
  cursor: pointer;
}

.buttonBox .number {
  background-color: #f3f3f3;
}

.buttonBox button:hover {
  background-color: #bababa;
  border-color: #999;
}

.buttonBox .equals {
  background-color: #75a5db;
}

.buttonBox .equals:hover {
  background-color: #3a91b8;
}
